/*
  Name: Marcus Jundt
  Date: 4/24/2024
  Section: CSE 154 AE

  This is the styles.css page for the videogame deal lookup page. It has a dark theme and styles
  the game info roughly based on the Steam store page.
*/

body {
  background-color: #121212;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

#login-view, #buy-view, #product-view, #sell-view {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-top: 5px;
  margin-top: 20px;
  box-shadow: #00000065 0px 0px 80px;
  background-color: #212121c3;
}

#login-view {
  max-width: 25%;
}

#buy-view, #product-view {
  max-width: 70%;
}

#sell-view {
max-width: 58%;
}

#sell-view > h2 {
  text-align: center;
}

header {
  box-shadow: #00000065 0px 0px 80px;
  background-color: #212121c3;
}

header h1 {
  text-shadow: #000000 14px 10px 30px;
  font-size: 46px;
  margin-top: 0px;
}

header {
  text-align: center;
  padding: 30px;
}

a {
  color: #DEDEDE;
}

nav > a {
  padding: 15px;
  text-decoration: none;
  color: #FFFFFF;
}

img {
  object-fit: cover;
  overflow: hidden;
  background-color: black;
}

input {
  background-color: #111111;
  color: white;
  border: none;
}

input:focus {
  outline: none;
}

#login-view, #buy-view, #product-view, #sell-view, input, button, img, .card, #category-setting, #grid-setting, #create-listing {
  border-radius: 15px;
}

#category-setting, #grid-setting {
  height: 16px;
  padding: 10px;
  background-color: #111111;
}

input, button, #display-settings {
  font-size: 18px;
}

input, button {
  font-size: 18px;
  margin: 5px;
  height: 36px;
  padding: 10px;
}

button {
  text-align: center;
  line-height: 50%;
  border-style: solid;
}

.top-bar {
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-end;
}

#category-setting p {
  margin-right: 10px;
}

select {
  height: 20px;
}

#grid-setting, #category-setting, #search-bar {
  margin-right: 30px;
}

#display-settings {
  margin-bottom: 5px;
  flex-wrap: wrap;
}

#search-bar, #grid-setting, #category-setting, #display-settings, .item-subinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#to-create-acc-form, #to-login-form, #btn-view-profile, #btn-view-login, #btn-buy, #btn-sell, #btn-expand-list {
  color: white;
  background-color: #ffffff05;
  border-color: #ffffff09;
  border-width: 2px;
}

#to-create-acc-form:hover, #to-login-form:hover, #btn-view-profile:hover, #btn-view-login:hover, #btn-buy:hover, #btn-sell:hover, #btn-expand-list:hover {
  background-color: #ffffff09;
}

#btn-search {
  color: black;
  background-color: white;
  border-color: white;
  width: 30px;
  height: 30px;
}

#btn-search:hover {
  background-color: #ffffffcc;
}

#item-display, #listed-item-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hide-items {
  max-height: 475px;
  overflow: hidden;
}

.card {
  margin-bottom: 10px;
  background-color: #111111;
  display: flex;
}

#item-display .card:hover {
  background-color: #161616;
}

.row {
  flex-direction: row;
  height: 236px;
  width: 100%;
  min-width: 0;
}

.row img {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#listed-item-display .card {
  flex-direction: row;
  height: 150px;
  width: 100%;
  min-width: 0;
}

.tile {
  flex-direction: column;
  height: 280px;
  width: 250.4px;
  margin-left: 5px;
  margin-right: 5px;
}

.tile img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#item-display .card img {
  height: 236px;
  width: 250.4px;
}

#listed-item-display .card {
  height: 150px;
}

#listed-item-display .card img {
  height: 150px;
  width: 175px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.row .item-info {
  width: calc(100% - 250.4px);
}

.tile .item-info {
  width: 100%;
}

.tile .item-subinfo {
  justify-content: space-between;
}

.card h2, .card p {
  margin: 5px;
}

.tile .item-description {
  display: none;
}

#login-view form {
  width: 67%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login-view h2 {
  text-align: center;
}

#btn-create-acc, #btn-login {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#btn-create-listing {
  margin: 0;
}

.swap-login {
  display: flex;
  justify-content: center;
}

#btn-expand-list {
  color: white;
  background-color: transparent;
  width: 100px;
}

#logged-in-view > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin-bottom: 10px;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
}

#logged-in-view h3 {
  margin-top: 5px;
}

#create-listing {
  background-color: #121212;
  padding: 20px;
  border-top-left-radius: 0;
}

#create-listing > form > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#create-listing > .top-bar > h3 {
  margin-right: auto;
}

#create-listing p {
  margin-right: 20px;
}

#product-display {
  display: flex;
  flex-direction: row;
}

#product-image {
  width: 40%;
  margin-right: 20px;
}

.no-bottom-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.no-right-radius {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.hidden {
  display: none;
}
